html,
body {
    margin: 0;
}

#App {
    font-family: sans-serif;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60rem;
}

.ReactCodeMirror {
    height: 1rem;
}